<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Dependencies</title>
    <script src="../JS/angular.js"></script>
    <script src="../JS/dependencies.js"></script>
</head>
<body ng-controller="myController">
My Class : {{myClass + " "+ myConstant}}
<br/>
My provider: {{myProvider}}
<br/>
My service: {{myNameService + " - " + total}}
<br/>
My Factory: {{myFactoryName + " - "+totalFactory}}
<br/>
Student info: {{"firstName : "+ student.firstName + " LastName: "+ student.lastName + " Age: "+student.age}}
</body>
</html>